alabaster==1.0.0
asgiref==3.12.1
autoflake==2.4.0
babel==2.18.0
black==26.5.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
Django==6.1.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
docutils==0.22.4
flake8==7.4.1
idna==3.20
imagesize==2.0.1
Jinja2==3.1.6
MarkupSafe==3.0.4
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.12.1
pycodestyle==2.15.0
pyflakes==4.0.0
Pygments==2.21.0
PyJWT==2.14.0
PyMySQL==1.2.3
python-decouple==3.8
pytokens==0.4.1
requests==2.34.2
roman-numerals==4.1.0
snowballstemmer==3.1.1
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.6.0
urllib3==2.8.0
